#root {
  /* font-family: 'Raleway', serif; */
}

.App {
  text-align: center;
}

@media (min-width: 1200px) {
    #logo {
      font-size: 36pt;
      height: auto;
    }

    .App-header {
      width: 80%;
    }
}

@media (max-width: 1000px) {
  #logo {
  font-size: 24pt;
  }
}
@media (max-width: 800px) {
  #logo {
    /* font-size: 4em; */
  }
}
@media (max-width: 400px) {
  .App-header {

  }
}

.App-header {
  background-color: white;
  /* max-height: 400px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */

  color: black;
}

.App-link {
  color: #61dafb;
}

.menu ul {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  font-size: 1em;

}

.projectContainer {
  padding-top: 10px;
  background-color: #163829;
  color: white;

}

.project {
  background-color: white;
  color: grey;
  max-width: 300px;
  max-height: 520px;
  min-height: 520px;
  display: inline-block;
  margin: 20px;
  padding: 5px;

}

.project ul {
  list-style-type: none;

}
.project li {
  text-decoration: none;
}

#logo {
  float: left;
  text-align: right;
  margin: 2px 40px;
  color: #163829;
}

.menu li {
  flex: 3;
}

.menu li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.menu li a:hover {
  color: #163829;
}

#headshot {
  max-width: 350px;
  border-color: #163829;
  border: 4px;
  /* filter: grayscale(100%); */
  /* border-radius: 50%; */
}

.icon {
  width: 30px;
  margin: 5px;
}

.appImage {
  max-width: 90%;
}

.about {
  padding: 10px;
  width: 70%;
  margin: auto;
}

.footer {
  background-color: #163829;
  color: white;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;

}
