.App {
  text-align: center;
}

.App-header {
  background-color: white;
  max-height: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: black;
}

.App-link {
  color: #61dafb;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  font-size: 1em;

}

.projectContainer {
  background-color: #163829;
  color: white;

}

.project {
  background-color: white;
  color: grey;
  width: 30%;
  display: inline-block;
  padding: 20px;
}

.project li {
  text-decoration: none;
}

#logo {
  float: left;
  text-align: right;
  margin: 2px 40px;
  font-size: 2em;
  color: #163829;
}

.menu li {
  flex: 3;
}

.menu li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.menu li a:hover {
  color: #163829;
}

#headshot {
  max-width: 400px;
  border-color: #163829;
  border: 4px;
  /* filter: grayscale(100%); */
  /* border-radius: 50%; */
}

.footer {
  background-color: #163829;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

}
